@font-face {
  font-family: 'icomoon';
  src: url('/css/fonts/icomoon/fonts/icomoon.eot?tgep3b');
  src: url('/css/fonts/icomoon/fonts/icomoon.eot?tgep3b#iefix') format('embedded-opentype'),
    url('/css/fonts/icomoon/fonts/icomoon.ttf?tgep3b') format('truetype'),
    url('icomoon.woff?tgep3b') format('woff'),
    url('/css/fonts/icomoon/fonts/icomoon.svg?tgep3b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-arrow-right:before {
  content: '\e908';
}
.icomoon-arrow-left:before {
  content: '\e909';
}
.icomoon-edit:before {
  content: '\e907';
}
.icomoon-small-arrow-right:before {
  content: '\e90a';
}
.icomoon-small-arrow-left:before {
  content: '\e90b';
}
.icomoon-location:before {
  content: '\e904';
}
.icomoon-profile:before {
  content: '\e905';
}
.icomoon-close:before {
  content: '\e90e';
}
.icomoon-vk:before {
  content: '\e90c';
}
.icomoon-youtube:before {
  content: '\e90d';
}
.icomoon-telegram:before {
  content: '\e906';
}
.icomoon-basket:before {
  content: '\e903';
}
.icomoon-heart:before {
  content: '\e902';
}
.icomoon-notification:before {
  content: '\e901';
}
.icomoon-search:before {
  content: '\e900';
}
.icomoon-trash:before {
  content: '\e9ac';
}
.icomoon-checkmark:before {
  content: '\ea10';
}
