header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
  background-color: white;
  box-shadow: 0px 30px 22px -20px rgba(196, 196, 196, 0.3);
}
header .header__search {
  display: flex;
  align-items: center;
  width: 100%;
}
header .header__search #header-close-search {
  display: none;
}
header .header__search #header-close-search i {
  font-size: 40px;
  color: #525050;
}
header .header__search #header-close-search:hover i {
  color: #2d2d2d;
}
header .header__search .header__search_input {
  display: none;
  width: 100%;
  padding: 8px 40px 8px 12px;
  border-bottom: 2px solid #a9a8a8;
  font-weight: 600;
  font-size: 20px;
  color: #2d2d2d;
  position: relative;
  left: 28px;
  /*  @media (max-width: 1800px) {
          width: 1000px;
        }
        @media (max-width: 1400px) {
          width: calc(100vw * 0.52);
        } */
}
header .header__search .header__search_input::placeholder {
  color: #a9a8a8;
  font-weight: 600;
  font-size: 20px;
  margin-right: 80px;
}
header .header__search .header__search_input:focus,
header .header__search .header__search_input:hover {
  border-bottom: 2px solid #2d2d2d;
}
header .header_main {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px 0 48px;
  width: 100%;
  position: relative;
}
header .header_main__left {
  display: flex;
  align-items: center;
}
header .header_main__left .header_burger {
  transition: 0.2s;
  margin-right: 64px;
  padding: 16px;
  cursor: pointer;
  margin-top: 2px;
}
header .header_main__left__location {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .header_main__left__location i {
  margin-right: 16px;
  font-size: 28px;
  color: black;
}
header .header_main__left__location_title {
  color: #2d2d2d;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
}
header .header_main__left__location:hover i {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .header_main__left__location:hover h4 {
  font-weight: 500;
}
header .header_main__logo {
  position: absolute;
  top: 11px;
  left: calc((100vw - 194px) / 2);
  font-size: 36px;
  cursor: pointer;
}
header .header_main__btns {
  display: flex;
  align-items: center;
}
header .header_main__btn {
  position: relative;
  transition: 0.25s;
  margin-right: 40px;
}
header .header_main__btn:nth-last-of-type(1) {
  margin: 0;
}
header .header_main__btn i {
  color: #2d2d2d;
  font-size: 28px;
}
header .header_main__btn i:hover {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .header_main__btn .header_search_icon {
  font-size: 28px;
}
header .header_main__btn .header_notif_icon {
  font-size: 32px;
}
header .header_main__btn .header_heart_icon {
  font-size: 24px;
}
header .header_main__btn .header_profile_icon {
  font-size: 28px;
}
header .header_main__btn .header_basket_icon {
  font-size: 32px;
}
header .header_main__btn:hover i {
  color: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
}
header .header_main button {
  margin-right: 40px !important;
}
header .header_main .header__search_btn-active {
  transition: 0.25s;
  position: relative;
  padding-right: 40px;
}
header .header__search_result {
  display: none;
  justify-content: center;
  min-height: 0px;
  max-height: 340px;
  margin: 24px 100px 20px 80px;
  width: 100%;
}
header .header__search_result ul {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
header .header__search_result ul li {
  display: flex;
  align-items: center;
  height: 42px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
header .header__search_result ul li:nth-last-of-type(1) {
  margin-bottom: 0;
}
header .header__search_result ul li i {
  margin-right: 24px;
  opacity: 0;
  font-size: 28px;
  font-weight: 600;
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .header__search_result ul li:hover i {
  opacity: 1;
}
header nav {
  position: relative;
  background-color: white;
  display: none;
  /*!!!!!!!!!!!!!*/
}
header nav .header_menu {
  position: relative;
  z-index: 560;
  width: 100vw;
  padding: 0 120px;
  height: 72px;
  display: flex;
  align-items: center;
  box-shadow: 0px 30px 22px -20px rgba(196, 196, 196, 0.3);
}
header nav .header_menu .header_list {
  display: flex;
  align-items: center;
}
header nav .header_menu .header_list_item {
  padding: 20px;
  display: flex;
  height: 72px;
  align-items: center;
  margin-right: 80px;
  font-size: 120px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  cursor: pointer;
}
header nav .header_menu .header_list_item:hover {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .header_menu__dropdown {
  display: none;
  position: absolute;
  z-index: 550;
  width: 100%;
  height: 86vh;
  border-bottom: 1px solid black;
  background-color: white;
}
header nav .header_menu__dropdown .header_dropdown_list {
  display: flex;
  flex-direction: column;
  padding: 32px 0 32px 140px;
}
header nav .header_menu__dropdown .header_dropdown_list_item {
  width: 260px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
header nav .header_menu__dropdown .header_dropdown_list_item h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #a9a8a8;
  display: inline-block;
  width: fit-content;
  border-bottom: 1px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
}
header nav .header_menu__dropdown .header_dropdown_list_item:hover h5,
header nav .header_menu__dropdown .header_dropdown_list_item-active h5 {
  color: #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
}
header nav .header_menu__dropdown .header_dropdown_list_item:nth-last-of-type(1) {
  margin-bottom: 0;
}
header nav .header_menu__dropdown .header_dropdown_list_more {
  padding: 32px 32px 32px 16px;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
}
header nav .header_menu__dropdown .header_dropdown_list_more_item {
  width: 260px;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 40px;
}
header nav .header_menu__dropdown .header_dropdown_list_more_item h5 {
  width: 120px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #2d2d2d;
  display: inline-block;
  border-bottom: 1px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header nav .header_menu__dropdown .header_dropdown_list_more_item i {
  transition: 0.05s;
  opacity: 0;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .header_menu__dropdown .header_dropdown_list_more_item:hover h5 {
  color: black;
}
header nav .header_menu__dropdown .header_dropdown_list_more_item:hover i {
  transition: 0.05s;
  opacity: 1;
}
header nav .header_menu__dropdown .brands-alphabet {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  background-color: white;
  border-bottom: 1px solid #a9a8a8;
}
header nav .header_menu__dropdown .brands-alphabet #brands-toggle-lang-alphabet {
  white-space: nowrap;
  margin-left: 120px;
  margin-right: 72px;
  font-weight: 600;
  font-size: 18px;
}
header nav .header_menu__dropdown .brands-alphabet #brands-toggle-lang-alphabet:hover {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .header_menu__dropdown .brands-alphabet #brands-toggle-lang-number {
  white-space: nowrap;
  margin-right: 120px;
  margin-left: 72px;
  font-weight: 600;
  font-size: 18px;
}
header nav .header_menu__dropdown .brands-alphabet #brands-toggle-lang-number:hover {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .header_menu__dropdown .brands-alphabet .brands-alphabet-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header nav .header_menu__dropdown .brands-alphabet .brands-alphabet-container .brands-alphabet-letter {
  font-weight: 400;
  font-size: 16px;
}
header nav .header_menu__dropdown .brands-alphabet .brands-alphabet-container .brands-alphabet-letter:hover {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .header_menu__dropdown .brands-alphabet #brands-ru-alphabet {
  display: none;
}
header nav .header_menu__dropdown .brands-alphabet #brands-eng-alphabet {
  display: flex;
}
header nav .header_menu__dropdown .brands-content {
  display: flex;
  padding: 64px 224px;
}
@media (max-width: 1500px) {
  header nav .header_menu__dropdown .brands-content {
    padding: 64px 100px;
  }
}
header nav .header_menu__dropdown .brands-content .brands-content-items {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-right: 30%;
}
@media (max-height: 900px) {
  header nav .header_menu__dropdown .brands-content .brands-content-items {
    margin-right: 20%;
    width: 440px;
  }
}
@media (max-width: 1200px) {
  header nav .header_menu__dropdown .brands-content .brands-content-items {
    margin-right: 64px;
  }
}
header nav .header_menu__dropdown .brands-content .brands-content-items h2 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 40px;
}
header nav .header_menu__dropdown .brands-content .brands-content-items .brands-content-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 50px;
}
@media (max-height: 900px) {
  header nav .header_menu__dropdown .brands-content .brands-content-items .brands-content-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 380px;
  }
  header nav .header_menu__dropdown .brands-content .brands-content-items .brands-content-list::-webkit-scrollbar {
    width: 5px;
    height: 10px !important;
  }
  header nav .header_menu__dropdown .brands-content .brands-content-items .brands-content-list::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
    background-clip: content-box;
  }
  header nav .header_menu__dropdown .brands-content .brands-content-items .brands-content-list::-webkit-scrollbar-thumb {
    background: #a9a8a8;
    border-radius: 10px;
  }
}
header nav .header_menu__dropdown .brands-content .brands-content-items .brands-content-list .brand-container {
  width: 260px;
  height: 56px;
  display: flex;
  align-items: center;
}
@media (max-height: 1440px) {
  header nav .header_menu__dropdown .brands-content .brands-content-items .brands-content-list .brand-container {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
header nav .header_menu__dropdown .brands-content .brands-content-items .brands-content-list .brand-container a {
  font-weight: 600;
  font-size: 18px;
}
header nav .header_menu__dropdown .brands-content .brands-content-second {
  display: flex;
  flex-direction: column;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-search {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-search input {
  width: 600px;
  border-bottom: 1px solid #525050;
  padding: 8px 40px 8px 12px;
  font-weight: 600;
  font-size: 20px;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-search input ::placeholder {
  font-weight: 600;
  font-size: 20px;
  color: #a9a8a8;
}
@media (max-width: 1500px) {
  header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-search input {
    width: 340px;
  }
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-search button {
  position: absolute;
  right: 0px;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-search button i {
  font-size: 28px;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-search button:hover i {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 48px;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites .brands-content-favorites-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  height: 385px;
  overflow-y: auto;
  column-gap: 40px;
}
@media (max-height: 890px) {
  header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites .brands-content-favorites-list {
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites .brands-content-favorites-list::-webkit-scrollbar {
  width: 5px;
  height: 10px !important;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites .brands-content-favorites-list::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
  background-clip: content-box;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites .brands-content-favorites-list::-webkit-scrollbar-thumb {
  background: #a9a8a8;
  border-radius: 10px;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites .brands-content-favorites-list .brand-container {
  width: 260px;
  height: 56px;
  display: flex;
  align-items: center;
}
@media (max-height: 1440px) {
  header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites .brands-content-favorites-list .brand-container {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites .brands-content-favorites-list .brand-container a {
  font-weight: 600;
  font-size: 18px;
}
header nav #header-dropdown-brands {
  flex-direction: column;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}
footer .footer__main {
  padding: 0 160px;
  display: flex;
  align-items: center;
  height: 248px;
}
@media (max-width: 1760px) {
  footer .footer__main {
    padding: 0 120px;
  }
}
@media (max-width: 1600px) {
  footer .footer__main {
    padding: 0 80px;
  }
}
footer .footer__main_logo {
  margin-right: 160px;
}
@media (max-width: 1500px) {
  footer .footer__main_logo {
    margin-right: 100px;
  }
}
@media (max-width: 1440px) {
  footer .footer__main_logo {
    margin-right: 60px;
  }
}
footer .footer__main_links {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-right: 48px;
}
@media (max-width: 1260px) {
  footer .footer__main_links {
    margin-right: 32px;
  }
}
footer .footer__main_links:nth-last-of-type(1) {
  margin-right: 174px;
}
@media (max-width: 1600px) {
  footer .footer__main_links:nth-last-of-type(1) {
    margin-right: 120px;
  }
}
@media (max-width: 1440px) {
  footer .footer__main_links:nth-last-of-type(1) {
    margin-right: 60px;
  }
}
@media (max-width: 1540px) {
  footer .footer__main_links {
    width: 140px !important;
  }
}
footer .footer__main_links .footer__main_link {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
footer .footer__main_links .footer__main_link a {
  font-weight: 400;
  font-size: 16px;
  color: white;
  line-height: 22px;
}
@media (max-width: 1500px) {
  footer .footer__main_links .footer__main_link a {
    font-size: 14px;
  }
}
footer .footer__main_links .footer__main_link:nth-of-type(1) {
  font-weight: 600;
  font-size: 20px;
}
@media (max-width: 1500px) {
  footer .footer__main_links .footer__main_link:nth-of-type(1) {
    font-size: 18px;
  }
}
footer .footer__main_links .footer__main_link:nth-last-of-type(1) {
  margin-bottom: 0;
}
footer .footer__main_subscribe {
  margin-bottom: 16px;
}
footer .footer__main_subscribe h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-left: 16px;
  margin-bottom: 40px;
  color: white;
}
@media (max-width: 1220px) {
  footer .footer__main_subscribe h2 {
    font-size: 16px;
  }
}
footer .footer__main_subscribe form {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
footer .footer__main_subscribe form input {
  width: 328px;
  padding: 10px 16px;
  background-color: transparent;
  border-bottom: 2px solid #2d2d2d;
  color: white;
  font-weight: 400;
  font-size: 16px;
}
footer .footer__main_subscribe form input::placeholder {
  color: #a9a8a8;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 1220px) {
  footer .footer__main_subscribe form input {
    width: 220px;
  }
}
footer .footer__main_subscribe form button {
  width: 78px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  color: white;
  font-weight: 600;
  font-size: 14px;
  margin-top: 4px;
  border: 2px solid #2d2d2d;
  transition: 0.1s;
}
footer .footer__main_subscribe form button:hover {
  transition: 0.1s;
  border: 2px solid white;
  background-color: white;
  color: #2d2d2d;
}
footer .footer__main_subscribe h5 {
  font-weight: 400;
  font-size: 12px;
  width: 310px;
  line-height: 16px;
  color: #a9a8a8;
  margin-left: 16px;
}
footer .footer__main_subscribe h5 a {
  font-weight: 400;
  font-size: 12px;
  color: white;
  text-decoration: underline;
}
footer .footer__line {
  width: 100%;
  height: 2px;
  background-color: #2d2d2d;
}
footer .footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 160px;
  height: 88px;
  background-color: black;
}
@media (max-width: 1760px) {
  footer .footer__bottom {
    padding: 0 120px;
  }
}
@media (max-width: 1600px) {
  footer .footer__bottom {
    padding: 0 80px;
  }
}
footer .footer__bottom_company {
  font-weight: 400;
  font-size: 16px;
  color: white;
}
footer .footer__bottom_socials {
  display: flex;
  align-items: center;
}
footer .footer__bottom_socials a {
  margin-right: 64px;
}
footer .footer__bottom_socials a i {
  font-size: 32px;
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .footer__bottom_socials a i:nth-last-of-type(1) {
  margin-right: 0;
}
footer .footer__bottom_payments {
  display: flex;
  align-items: center;
}
footer .footer__bottom_payments img {
  width: 40px;
  height: 32px;
  object-fit: scale-down;
  margin-right: 40px;
}
footer .footer__bottom_payments img:nth-last-of-type(1) {
  margin-right: 0;
}
.sort-popup {
  position: relative;
  display: flex;
  flex-direction: column;
}
.sort-popup .sort-popup-main {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sort-popup .sort-popup-main .sort-popup-title {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sort-popup .sort-popup-main i {
  margin-bottom: 2px;
  transform: rotate(-90deg);
  margin-left: 24px;
  font-size: 32px;
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sort-popup .sort-popup-dropdown {
  z-index: 200;
  position: absolute;
  top: 48px;
  right: -40px;
  display: none;
  width: 290px;
  padding: 24px 16px 24px 32px;
  background-color: white;
  box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.sort-popup .sort-popup-dropdown .sort-popup-dropdown_item {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}
.sort-popup .sort-popup-dropdown .sort-popup-dropdown_item:nth-last-of-type(1) {
  margin-bottom: 0;
}
.sort-popup .sort-popup-dropdown .sort-popup-dropdown_item i {
  opacity: 0;
  margin-right: 12px;
  font-size: 16px;
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sort-popup .sort-popup-dropdown .sort-popup-active-item {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 22px;
}
.sort-popup .sort-popup-dropdown .sort-popup-active-item i {
  opacity: 1;
}
.content_pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}
.content_pagination .pagination-page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 16px;
  cursor: pointer;
}
.content_pagination .pagination-page-number:nth-last-of-type(1) {
  margin-right: 0;
}
.content_pagination .pagination-page-number a {
  color: #2d2d2d;
  font-weight: 600;
  font-size: 20px;
}
.content_pagination .pagination-page-number-active {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
}
.content_pagination .pagination-page-number-active a {
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.main__products {
  margin-top: 72px;
  margin-bottom: 80px;
}
.main__products #swiper-main-products {
  display: flex;
  flex-direction: column;
  margin: 0 95px 0 100px;
  padding: 20px 22px 20px 22px;
  overflow-y: hidden;
  z-index: 10 !important;
}
.main__products #swiper-main-products .main__section_head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  margin-bottom: 64px;
}
.main__products #swiper-main-products .main__section_head .main__section_title {
  font-weight: 600;
  font-size: 24px;
}
.main__products #swiper-main-products .main__section_head .main__section_more {
  font-weight: 600;
  font-size: 18px;
  border-bottom: 1px solid #2d2d2d;
}
.main__products #swiper-main-products .swiper-wrapper {
  /*  display: grid;
        align-content: center;
        justify-items: center;
        grid-gap: 16px;
        grid-template-columns: repeat(5, 1fr);
        width: fit-content; */
  /*  @media (max-width: 1720px) {
          margin: 0 80px;
        } */
}
.main__products #swiper-main-products .swiper-wrapper .main__products_item,
.main__products #swiper-main-products .swiper-wrapper .swiper-slide {
  /* width: 320px !important; */
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.1s;
}
.main__products #swiper-main-products .swiper-wrapper .main__products_item:hover,
.main__products #swiper-main-products .swiper-wrapper .swiper-slide:hover {
  box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.3);
  transition: 0.1s;
}
@media (max-width: 1720px) {
  .main__products #swiper-main-products .swiper-wrapper .main__products_item,
  .main__products #swiper-main-products .swiper-wrapper .swiper-slide {
    width: 100%;
  }
}
.main__products #swiper-main-products .swiper-wrapper .main__products_item .item-like-btn,
.main__products #swiper-main-products .swiper-wrapper .swiper-slide .item-like-btn {
  position: absolute;
  z-index: 80;
  top: 16px;
  right: 24px;
}
.main__products #swiper-main-products .swiper-wrapper .main__products_item .item-like-btn svg path,
.main__products #swiper-main-products .swiper-wrapper .swiper-slide .item-like-btn svg path {
  stroke: #525050;
  fill: none;
}
.main__products #swiper-main-products .swiper-wrapper .main__products_item .item-like-btn:hover svg path,
.main__products #swiper-main-products .swiper-wrapper .swiper-slide .item-like-btn:hover svg path {
  stroke: url(#myGradient);
}
.main__products #swiper-main-products .swiper-wrapper .main__products_item .item-like-btn-active svg path,
.main__products #swiper-main-products .swiper-wrapper .swiper-slide .item-like-btn-active svg path {
  stroke: url(#myGradient);
  fill: url(#myGradient);
}
.main__products #swiper-main-products .swiper-wrapper .main__products_item img,
.main__products #swiper-main-products .swiper-wrapper .swiper-slide img {
  object-fit: scale-down;
  width: 100%;
  height: 328px;
}
.main__products #swiper-main-products .swiper-wrapper .main__products_item .main_item_info,
.main__products #swiper-main-products .swiper-wrapper .swiper-slide .main_item_info {
  margin: 16px 16px 30px 16px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1400px) {
  .main__products #swiper-main-products .swiper-wrapper .main__products_item .main_item_info,
  .main__products #swiper-main-products .swiper-wrapper .swiper-slide .main_item_info {
    margin: 12px 12px 24px 12px;
  }
}
.main__products #swiper-main-products .swiper-wrapper .main__products_item .main_item_info_title,
.main__products #swiper-main-products .swiper-wrapper .swiper-slide .main_item_info_title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
}
@media (max-width: 1400px) {
  .main__products #swiper-main-products .swiper-wrapper .main__products_item .main_item_info_title,
  .main__products #swiper-main-products .swiper-wrapper .swiper-slide .main_item_info_title {
    font-size: 12px;
    margin-bottom: 12px;
  }
}
.main__products #swiper-main-products .swiper-wrapper .main__products_item .main_item_info_desc,
.main__products #swiper-main-products .swiper-wrapper .swiper-slide .main_item_info_desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  height: 44px;
  color: #525050;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 16px;
  cursor: text;
}
@media (max-width: 1400px) {
  .main__products #swiper-main-products .swiper-wrapper .main__products_item .main_item_info_desc,
  .main__products #swiper-main-products .swiper-wrapper .swiper-slide .main_item_info_desc {
    font-size: 12px;
    margin-bottom: 12px;
  }
}
.main__products #swiper-main-products .swiper-wrapper .main__products_item .main_item_info_price,
.main__products #swiper-main-products .swiper-wrapper .swiper-slide .main_item_info_price {
  font-weight: 600;
  font-size: 18px;
  cursor: text;
}
@media (max-width: 1400px) {
  .main__products #swiper-main-products .swiper-wrapper .main__products_item .main_item_info_price,
  .main__products #swiper-main-products .swiper-wrapper .swiper-slide .main_item_info_price {
    font-size: 14px;
  }
}
.main__products #swiper-main-products .swiper-wrapper .main__products_item .main_item_info_price span,
.main__products #swiper-main-products .swiper-wrapper .swiper-slide .main_item_info_price span {
  text-decoration: line-through;
  font-weight: 400;
  margin-right: 16px;
}
.main__products .main-products-next,
.main__products .main-products-prev {
  cursor: pointer;
  padding: 28px;
  border-radius: 100px;
  background-color: white;
  color: transparent;
  display: flex;
  box-shadow: 0px 2px 16px 5px rgba(196, 196, 196, 0.3);
}
.main__products .main-products-next i,
.main__products .main-products-prev i {
  margin-left: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #2d2d2d;
}
.main__products .main-products-next:hover i,
.main__products .main-products-prev:hover i {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__products .main-products-next {
  z-index: 20;
  position: absolute;
  right: 6px;
}
.main__products .main-products-prev {
  z-index: 20;
  position: absolute;
  left: 6px;
}
.main__products .swiper-button-disabled {
  display: none;
}
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 160px 0;
}
.empty h2 {
  font-weight: 600;
  font-size: 24px;
  margin-top: 64px;
}
.basket_title {
  font-weight: 600;
  font-size: 24px;
}
.basket_total {
  font-weight: 400;
  font-size: 22px;
}
.basket_total span {
  font-weight: 600;
  font-size: 24px;
  margin-left: 16px;
}
.basket_content_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1048px;
  height: 168px !important;
  border: 2px solid white;
  border-radius: 20px;
  margin-bottom: 40px;
  padding-left: 20px;
  overflow: hidden;
  transition: 0.15s;
  box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.3);
  cursor: pointer;
}
.basket_content_item:hover {
  transition: 0.15s;
  border: 2px solid #525050;
  box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.5);
}
.basket_content_item .item_left {
  display: flex;
  align-items: center;
  height: 100%;
}
.basket_content_item .item_left img {
  width: 144px;
  height: 168px;
  pointer-events: none;
  object-fit: cover;
  margin-right: 25px;
}
.basket_content_item .item_left .item_info {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 25px 0;
  justify-content: space-between;
  width: fit-content;
}
.basket_content_item .item_left .item_info_brand {
  font-weight: 600;
  font-size: 20px;
  color: #a9a8a8;
}
.basket_content_item .item_left .item_info_type {
  font-weight: 600;
  font-size: 20px;
}
.basket_content_item .item_left .item_info_size {
  font-weight: 600;
  font-size: 16px;
}
.basket_content_item .item_left .item_info_count {
  font-weight: 600;
  font-size: 16px;
}
.basket_content_item .item_right {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
}
.basket_content_item .item_right .item_price {
  text-align: right;
  font-weight: 600;
  font-size: 24px;
  margin-right: 88px;
  display: flex;
  flex-direction: column;
}
.basket_content_item .item_right .item_price span {
  text-decoration: line-through;
  font-weight: 400;
  font-size: 20px;
}
.basket_content_item .item_right .item_btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.basket_content_item .item_right .item_btns .item_like-btn {
  cursor: pointer;
  position: static;
  margin: 0 42px 48px 0;
}
.basket_content_item .item_right .item_btns .item_like-btn svg path {
  stroke: #525050;
  fill: none;
}
.basket_content_item .item_right .item_btns .item_like-btn:hover svg path {
  stroke: url(#myGradient);
}
.basket_content_item .item_right .item_btns .item-like-btn-active svg path {
  stroke: url(#myGradient);
  fill: url(#myGradient);
}
.basket_content_item .item_right .item_btns .item_remove-btn {
  margin-right: 42px;
}
.basket_content_item .item_right .item_btns .item_remove-btn i {
  font-size: 24px;
  color: #525050;
}
.basket_content_item .item_right .item_btns .item_remove-btn:hover i {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.basket_submit {
  margin-top: 32px;
  padding: 16px 0;
  width: 336px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  background-color: #2d2d2d;
}
.basket_submit:hover {
  background-color: black;
}
.faq_content {
  align-self: center;
  width: fit-content;
  box-shadow: 0px 5px 22px rgba(196, 196, 196, 0.5);
  margin-top: 24px;
  border-radius: 10px;
  margin-bottom: 128px;
  overflow: hidden;
}
.faq_content .faq_item {
  width: 1080px;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.faq_content .faq_item h2 {
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid #d0d0d0;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  transition: 0.15s;
}
.faq_content .faq_item h2 i {
  transition: 0.15s;
  font-size: 32px;
  transform: rotate(90deg);
}
.faq_content .faq_item h2.active {
  transition: 0.15s;
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  color: white;
}
.faq_content .faq_item h2.active i {
  transition: 0.15s;
  transform: rotate(-90deg);
}
.faq_content .faq_item h3 {
  display: none;
  padding: 24px 90px 24px 40px;
  border-bottom: 1px solid #d0d0d0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  background-color: white;
}
.faq_content .faq_item:nth-of-type(1) {
  border-radius: 10px 10px 0 0;
}
.faq_content .faq_item:nth-last-of-type(1) {
  border-radius: 0 0 10px 10px;
}
.faq_content .faq_item:nth-last-of-type(1) h2 {
  border-bottom: none;
}
.faq_content .faq_item:nth-last-of-type(1) h3 {
  border-bottom: none;
  border-top: 1px solid #d0d0d0;
}
