@import 'colors.less';

@import 'components/header.less';
@import 'components/footer.less';
@import 'components/product_swiper.less';
@import 'components/dropdown.less';

.product_wrapper {
  display: flex;
  margin-top: 96px;
  display: flex;
  padding: 0 0 0 104px;
  min-height: 960px;
  max-height: 100%;
  margin-bottom: 80px;

  @media (max-width: 1500px) {
    padding-left: 40px;
  }

  .product_back {
    width: 64px;
    height: 64px;
    margin-right: 120px;

    @media (max-width: 1482px) {
      margin-right: 60px;
    }

    i {
      color: @black;
      font-size: 40px;
      font-weight: 600;
    }
  }

  .product__photos {
    width: 624px;
    height: 760px;
    margin-right: 120px;

    @media (max-width: 1600px) {
      margin-right: 60px;
    }

    @media (max-width: 1500px) {
      margin-right: 0;
    }

    @media (max-width: 1482px) {
      width: 450px;
      height: 540px;
      margin-right: 60px;
    }

    .swiper-product {
      .product-photo-pagination {
        bottom: 32px;

        .swiper-pagination-bullet {
          background-color: #fff;
          border: 1px solid #a9a8a8;
          height: 10px;
          opacity: 1;
          width: 10px;

          &-active {
            background: @gradient;
          }
        }
      }

      .product-photo-next,
      .product-photo-prev {
        color: transparent;

        i {
          color: @black;
          font-size: 40px;
        }
      }
      .product-photo-next {
        i {
          margin-left: 40px;
        }
      }

      .swiper-wrapper > .swiper-slide > img {
        object-fit: scale-down;
        width: 624px;
        height: 760px;
        pointer-events: none;
        /*  border: 1px solid black; */

        @media (max-width: 1482px) {
          width: 450px;
          height: 540px;
        }
      }
    }
  }

  .product__content {
    display: flex;
    flex-direction: column;

    &_title {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 40px;
    }

    &_desc {
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 40px;
    }

    &_price {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 88px;

      span {
        text-decoration: line-through;
        font-weight: 400;
        font-size: 22px;
        margin-right: 16px;
      }
    }

    &_sizes {
      display: flex;
      align-items: center;

      .sizes_modal-btn {
        margin-left: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        font-weight: 400;
        font-size: 16px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &_colors {
      display: flex;
      align-items: center;
      margin: 80px 0 64px 0;

      .colors_item {
        width: 32px;
        height: 32px;
        background-color: none;
        border-radius: 100px;
        border: 2px solid transparent;
        margin-right: 32px;

        &:nth-last-of-type(1) {
          margin-right: 0;
        }

        &-active {
          border: 2px solid @black;
        }

        &-empty {
          content: 'x';
          font-size: 20px;
          color: @grey;
        }
      }
    }

    &_buy {
      margin-top: 50px;
      font-weight: 400;
      font-size: 16px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 14px 0;
      width: 336px;
      color: white;
    }

    .product__info {
      margin-top: 80px;
      display: flex;
      flex-direction: column;

      &_btns {
        display: flex;
        align-items: center;
        margin-bottom: 32px;

        .product__info_btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 184px;
          padding: 16px 0;
          border-bottom: 2px solid @light;
          margin-right: 36px;
          font-weight: 600;
          font-size: 16px;
          color: @light;

          &:nth-last-of-type(1) {
            margin-right: 0;
          }
        }

        .product__info_btn-active {
          @extend .product__info_btn;
          border-bottom: 2px solid @black;
          color: @black;
        }
      }

      &_content {
        display: block;
        width: 630px;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }

  #modal-size-notif {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 80px;
    }

    .dropdown {
      margin-bottom: 104px;
    }

    input[type='email'] {
      text-align: center;
      width: 406px;
      border-bottom: 1px solid @grey;
      font-size: 18px;
      font-weight: 600;
      padding: 8px;
      margin-bottom: 48px;

      &:nth-last-of-type(1) {
        margin-bottom: 56px;
      }

      &::placeholder {
        color: @light;
        font-weight: 400;
        font-size: 16px;
      }
    }

    button[type='submit'] {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px 0;
      width: 335px;
      color: white;
      border-radius: 5px;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 44px;
      transition: 0.1s;
      background-color: @black;

      &:hover {
        background-color: black;
      }
    }
  }
}
