@import 'colors.less';

.content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 185px 32px 104px;

  &-left {
    display: flex;
    align-items: center;
  }

  &-center {
    position: absolute;
    left: 47%;
    font-weight: 400;
    font-size: 20px;

    span {
      margin-right: 8px;
      font-weight: 600;
      font-size: 20px;
    }
  }

  &-right {
    display: flex;
    align-items: center;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px 0 0 0;
  margin-bottom: 80px;
  position: relative;
  min-height: 650px;
}

.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.grid-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 284px;
  column-gap: 24px;
  row-gap: 32px;
  min-height: 500px;
  margin-bottom: 96px;

  @media (max-width: 1700px) {
    margin: 0 100px;
    margin-bottom: 96px;
  }
  @media (max-width: 1350px) {
    margin: 0 60px;
    margin-bottom: 96px;
  }
}

.grid-products-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  height: fit-content;
  transition: 0.05s;

  &:hover {
    box-shadow: 0px 5px 22px 5px rgba(196, 196, 196, 0.3);
    transition: 0.05s;
  }

  .item_image {
    position: relative;
    width: inherit;
    margin-bottom: 16px;
    height: fit-content;
    object-fit: scale-down;
    width: inherit;

    img {
      object-fit: scale-down;
      width: inherit;
    }

    .item_out-overlay {
      position: absolute;
      width: inherit;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.65);
      display: none;
      justify-content: center;
      align-items: center;

      h3 {
        font-weight: 600;
        font-size: 22px;
      }
    }
  }

  .item_info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 8px;
    align-items: start;
    padding: 0 24px 32px 24px;

    .item_brand {
      font-weight: 600;
      font-size: 16px;
      height: 44px;
      align-self: center;

      @media (max-width: 1200px) {
        font-size: 14px;
      }
    }

    .item_name {
      font-weight: 400;
      font-size: 16px;
      color: @grey;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      @media (max-width: 1200px) {
        font-size: 14px;
      }
    }

    .item_count {
      font-weight: 600;
      font-size: 16px;
      align-self: center;

      @media (max-width: 1200px) {
        font-size: 14px;
      }
    }

    .item_color {
      width: 16px;
      height: 16px;
      border-radius: 1000px;
      background-color: black;
      margin-bottom: 18px;
      align-self: center;
      justify-self: end;

      @media (max-width: 1200px) {
        font-size: 14px;
      }
    }

    .item_size {
      font-weight: 600;
      font-size: 16px;
      height: 44px;
      justify-self: end;

      @media (max-width: 1200px) {
        font-size: 14px;
      }
    }
    .item_price {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 18px;
      justify-self: end;
      align-self: center;
      text-align: end;
      height: 46px;

      span {
        text-decoration: line-through;
        font-weight: 400;
        font-size: 16px;
        @media (max-width: 1200px) {
          font-size: 14px;
        }
      }

      @media (max-width: 1200px) {
        font-size: 16px;
      }
    }
  }
}

.back {
  display: flex;
  align-items: center;

  .back-btn {
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 40px;
      font-weight: 600;
    }
  }

  .back-title {
    margin-left: 32px;
    font-weight: 600;
    font-size: 24px;
  }
}

.modal {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  position: fixed;
  top: 20vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 920px !important;
  height: 600px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.modal-close-btn {
  position: absolute;
  right: 45px;
  top: 40px;

  &:hover {
    svg {
      fill: @black;
      rect {
        stroke: white;
        fill: white;

        &:nth-of-type(1) {
          fill: @black;
        }
      }
    }
  }
}

/** Overlay */
.overlay {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 700;
}

/** JS */
.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.icomoon-arrow-left:hover,
.icomoon-arrow-right:hover {
  background: @gradient !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.item-like-btn {
  display: block;
  position: absolute;
  z-index: 80;
  top: 16px;
  right: 24px;

  svg {
    path {
      stroke: @grey;
      fill: none;
    }
  }
}

.item-like-btn-active {
  svg {
    path {
      stroke: url(#myGradient);
      fill: url(#myGradient);
    }
  }
}

.custom-checkbox {
  display: flex;
  align-items: center;
  svg {
    width: 28px;
    height: 28px;

    path {
      fill: none;
      &:nth-of-type(2) {
        stroke-width: 0;
      }
    }
  }
}
.custom-checkbox-active {
  svg {
    path {
      &:nth-of-type(1) {
        fill: url(#paint0_linear_3975_51670);
      }
      &:nth-of-type(2) {
        stroke-width: 2;
      }
    }
  }
}

.active {
  display: flex !important;
}

.disable {
  display: none !important;
}

.visible {
  opacity: 1 !important;
}

.no-visible {
  opacity: 0 !important;
}
