.dropdown {
  width: 336px;
  display: inline-block;
  background-color: #fff;
  transition: 0.1s;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: #525050;
  height: fit-content;
  text-align: left;
}
.dropdown .select {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px 10px 24px;
  border: 2px solid #a9a8a8;
  border-radius: 5px;
  /* &:hover {
    transition: 0.2s;
    border: 2px solid @black;
  } */
}
.dropdown .select > div {
  display: inline-block !important;
  width: fit-content;
  transform: rotate(-90deg);
  transition: 0.1s;
}
.dropdown .select > div i {
  font-size: 28px;
  color: #2d2d2d;
}
.dropdown:active {
  background-color: #f8f8f8;
}
.dropdown.active-dropdown:hover .select,
.dropdown.active-dropdown .select {
  transition: 0s;
  border-radius: 5px 5px 0 0;
  border: 2px solid #2d2d2d;
  border-bottom: 2px solid transparent;
  z-index: 20;
}
.dropdown.active-dropdown .select > div {
  transition: 0.1s;
  transform: rotate(90deg);
}
.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: -2px;
  border: 2px solid #2d2d2d;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  display: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 9;
}
.dropdown .dropdown-menu::-webkit-scrollbar {
  width: 5px;
  height: 10px !important;
}
.dropdown .dropdown-menu::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
  background-clip: content-box;
}
.dropdown .dropdown-menu::-webkit-scrollbar-thumb {
  background: #a9a8a8;
  border-radius: 10px;
}
.dropdown .dropdown-menu li {
  padding: 10px 16px 10px 24px;
  transition: 0.1s;
  cursor: pointer;
}
.dropdown .dropdown-menu li i {
  display: none;
}
.dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
}
.dropdown .dropdown-menu li:hover {
  font-weight: 600;
}
.dropdown .dropdown-menu .disable {
  display: flex !important;
  justify-content: space-between;
  color: #525050;
  background-color: #e2e2e2;
}
.dropdown .dropdown-menu .disable:hover {
  font-weight: 400;
}
.dropdown .dropdown-menu .disable i {
  display: flex;
  font-size: 24px;
  color: #525050;
  margin-right: 16px;
}
.dropdown .dropdown-menu .disable i:hover {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}
