header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
  background-color: white;
  box-shadow: 0px 30px 22px -20px rgba(196, 196, 196, 0.3);
}
header .header__search {
  display: flex;
  align-items: center;
  width: 100%;
}
header .header__search #header-close-search {
  display: none;
}
header .header__search #header-close-search i {
  font-size: 40px;
  color: #525050;
}
header .header__search #header-close-search:hover i {
  color: #2d2d2d;
}
header .header__search .header__search_input {
  display: none;
  width: 100%;
  padding: 8px 40px 8px 12px;
  border-bottom: 2px solid #a9a8a8;
  font-weight: 600;
  font-size: 20px;
  color: #2d2d2d;
  position: relative;
  left: 28px;
  /*  @media (max-width: 1800px) {
          width: 1000px;
        }
        @media (max-width: 1400px) {
          width: calc(100vw * 0.52);
        } */
}
header .header__search .header__search_input::placeholder {
  color: #a9a8a8;
  font-weight: 600;
  font-size: 20px;
  margin-right: 80px;
}
header .header__search .header__search_input:focus,
header .header__search .header__search_input:hover {
  border-bottom: 2px solid #2d2d2d;
}
header .header_main {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px 0 48px;
  width: 100%;
  position: relative;
}
header .header_main__left {
  display: flex;
  align-items: center;
}
header .header_main__left .header_burger {
  transition: 0.2s;
  margin-right: 64px;
  padding: 16px;
  cursor: pointer;
  margin-top: 2px;
}
header .header_main__left__location {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .header_main__left__location i {
  margin-right: 16px;
  font-size: 28px;
  color: black;
}
header .header_main__left__location_title {
  color: #2d2d2d;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
}
header .header_main__left__location:hover i {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .header_main__left__location:hover h4 {
  font-weight: 500;
}
header .header_main__logo {
  position: absolute;
  top: 11px;
  left: calc((100vw - 194px) / 2);
  font-size: 36px;
  cursor: pointer;
}
header .header_main__btns {
  display: flex;
  align-items: center;
}
header .header_main__btn {
  position: relative;
  transition: 0.25s;
  margin-right: 40px;
}
header .header_main__btn:nth-last-of-type(1) {
  margin: 0;
}
header .header_main__btn i {
  color: #2d2d2d;
  font-size: 28px;
}
header .header_main__btn i:hover {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .header_main__btn .header_search_icon {
  font-size: 28px;
}
header .header_main__btn .header_notif_icon {
  font-size: 32px;
}
header .header_main__btn .header_heart_icon {
  font-size: 24px;
}
header .header_main__btn .header_profile_icon {
  font-size: 28px;
}
header .header_main__btn .header_basket_icon {
  font-size: 32px;
}
header .header_main__btn:hover i {
  color: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
}
header .header_main button {
  margin-right: 40px !important;
}
header .header_main .header__search_btn-active {
  transition: 0.25s;
  position: relative;
  padding-right: 40px;
}
header .header__search_result {
  display: none;
  justify-content: center;
  min-height: 0px;
  max-height: 340px;
  margin: 24px 100px 20px 80px;
  width: 100%;
}
header .header__search_result ul {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
header .header__search_result ul li {
  display: flex;
  align-items: center;
  height: 42px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
header .header__search_result ul li:nth-last-of-type(1) {
  margin-bottom: 0;
}
header .header__search_result ul li i {
  margin-right: 24px;
  opacity: 0;
  font-size: 28px;
  font-weight: 600;
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header .header__search_result ul li:hover i {
  opacity: 1;
}
header nav {
  position: relative;
  background-color: white;
  display: none;
  /*!!!!!!!!!!!!!*/
}
header nav .header_menu {
  position: relative;
  z-index: 560;
  width: 100vw;
  padding: 0 120px;
  height: 72px;
  display: flex;
  align-items: center;
  box-shadow: 0px 30px 22px -20px rgba(196, 196, 196, 0.3);
}
header nav .header_menu .header_list {
  display: flex;
  align-items: center;
}
header nav .header_menu .header_list_item {
  padding: 20px;
  display: flex;
  height: 72px;
  align-items: center;
  margin-right: 80px;
  font-size: 120px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  cursor: pointer;
}
header nav .header_menu .header_list_item:hover {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .header_menu__dropdown {
  display: none;
  position: absolute;
  z-index: 550;
  width: 100%;
  height: 86vh;
  border-bottom: 1px solid black;
  background-color: white;
}
header nav .header_menu__dropdown .header_dropdown_list {
  display: flex;
  flex-direction: column;
  padding: 32px 0 32px 140px;
}
header nav .header_menu__dropdown .header_dropdown_list_item {
  width: 260px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
header nav .header_menu__dropdown .header_dropdown_list_item h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #a9a8a8;
  display: inline-block;
  width: fit-content;
  border-bottom: 1px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
}
header nav .header_menu__dropdown .header_dropdown_list_item:hover h5,
header nav .header_menu__dropdown .header_dropdown_list_item-active h5 {
  color: #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
}
header nav .header_menu__dropdown .header_dropdown_list_item:nth-last-of-type(1) {
  margin-bottom: 0;
}
header nav .header_menu__dropdown .header_dropdown_list_more {
  padding: 32px 32px 32px 16px;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
}
header nav .header_menu__dropdown .header_dropdown_list_more_item {
  width: 260px;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 40px;
}
header nav .header_menu__dropdown .header_dropdown_list_more_item h5 {
  width: 120px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #2d2d2d;
  display: inline-block;
  border-bottom: 1px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
header nav .header_menu__dropdown .header_dropdown_list_more_item i {
  transition: 0.05s;
  opacity: 0;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .header_menu__dropdown .header_dropdown_list_more_item:hover h5 {
  color: black;
}
header nav .header_menu__dropdown .header_dropdown_list_more_item:hover i {
  transition: 0.05s;
  opacity: 1;
}
header nav .header_menu__dropdown .brands-alphabet {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  background-color: white;
  border-bottom: 1px solid #a9a8a8;
}
header nav .header_menu__dropdown .brands-alphabet #brands-toggle-lang-alphabet {
  white-space: nowrap;
  margin-left: 120px;
  margin-right: 72px;
  font-weight: 600;
  font-size: 18px;
}
header nav .header_menu__dropdown .brands-alphabet #brands-toggle-lang-alphabet:hover {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .header_menu__dropdown .brands-alphabet #brands-toggle-lang-number {
  white-space: nowrap;
  margin-right: 120px;
  margin-left: 72px;
  font-weight: 600;
  font-size: 18px;
}
header nav .header_menu__dropdown .brands-alphabet #brands-toggle-lang-number:hover {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .header_menu__dropdown .brands-alphabet .brands-alphabet-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header nav .header_menu__dropdown .brands-alphabet .brands-alphabet-container .brands-alphabet-letter {
  font-weight: 400;
  font-size: 16px;
}
header nav .header_menu__dropdown .brands-alphabet .brands-alphabet-container .brands-alphabet-letter:hover {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .header_menu__dropdown .brands-alphabet #brands-ru-alphabet {
  display: none;
}
header nav .header_menu__dropdown .brands-alphabet #brands-eng-alphabet {
  display: flex;
}
header nav .header_menu__dropdown .brands-content {
  display: flex;
  padding: 64px 224px;
}
@media (max-width: 1500px) {
  header nav .header_menu__dropdown .brands-content {
    padding: 64px 100px;
  }
}
header nav .header_menu__dropdown .brands-content .brands-content-items {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-right: 30%;
}
@media (max-height: 900px) {
  header nav .header_menu__dropdown .brands-content .brands-content-items {
    margin-right: 20%;
    width: 440px;
  }
}
@media (max-width: 1200px) {
  header nav .header_menu__dropdown .brands-content .brands-content-items {
    margin-right: 64px;
  }
}
header nav .header_menu__dropdown .brands-content .brands-content-items h2 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 40px;
}
header nav .header_menu__dropdown .brands-content .brands-content-items .brands-content-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 50px;
}
@media (max-height: 900px) {
  header nav .header_menu__dropdown .brands-content .brands-content-items .brands-content-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 380px;
  }
  header nav .header_menu__dropdown .brands-content .brands-content-items .brands-content-list::-webkit-scrollbar {
    width: 5px;
    height: 10px !important;
  }
  header nav .header_menu__dropdown .brands-content .brands-content-items .brands-content-list::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
    background-clip: content-box;
  }
  header nav .header_menu__dropdown .brands-content .brands-content-items .brands-content-list::-webkit-scrollbar-thumb {
    background: #a9a8a8;
    border-radius: 10px;
  }
}
header nav .header_menu__dropdown .brands-content .brands-content-items .brands-content-list .brand-container {
  width: 260px;
  height: 56px;
  display: flex;
  align-items: center;
}
@media (max-height: 1440px) {
  header nav .header_menu__dropdown .brands-content .brands-content-items .brands-content-list .brand-container {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
header nav .header_menu__dropdown .brands-content .brands-content-items .brands-content-list .brand-container a {
  font-weight: 600;
  font-size: 18px;
}
header nav .header_menu__dropdown .brands-content .brands-content-second {
  display: flex;
  flex-direction: column;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-search {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-search input {
  width: 600px;
  border-bottom: 1px solid #525050;
  padding: 8px 40px 8px 12px;
  font-weight: 600;
  font-size: 20px;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-search input ::placeholder {
  font-weight: 600;
  font-size: 20px;
  color: #a9a8a8;
}
@media (max-width: 1500px) {
  header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-search input {
    width: 340px;
  }
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-search button {
  position: absolute;
  right: 0px;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-search button i {
  font-size: 28px;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-search button:hover i {
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 48px;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites .brands-content-favorites-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  height: 385px;
  overflow-y: auto;
  column-gap: 40px;
}
@media (max-height: 890px) {
  header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites .brands-content-favorites-list {
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites .brands-content-favorites-list::-webkit-scrollbar {
  width: 5px;
  height: 10px !important;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites .brands-content-favorites-list::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
  background-clip: content-box;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites .brands-content-favorites-list::-webkit-scrollbar-thumb {
  background: #a9a8a8;
  border-radius: 10px;
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites .brands-content-favorites-list .brand-container {
  width: 260px;
  height: 56px;
  display: flex;
  align-items: center;
}
@media (max-height: 1440px) {
  header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites .brands-content-favorites-list .brand-container {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
header nav .header_menu__dropdown .brands-content .brands-content-second .brands-content-favorites .brands-content-favorites-list .brand-container a {
  font-weight: 600;
  font-size: 18px;
}
header nav #header-dropdown-brands {
  flex-direction: column;
}
