.content_pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}
.content_pagination .pagination-page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 16px;
  cursor: pointer;
}
.content_pagination .pagination-page-number:nth-last-of-type(1) {
  margin-right: 0;
}
.content_pagination .pagination-page-number a {
  color: #2d2d2d;
  font-weight: 600;
  font-size: 20px;
}
.content_pagination .pagination-page-number-active {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(234.13deg, #ee9ab2 0.9%, #75a4ff 133.24%);
}
.content_pagination .pagination-page-number-active a {
  color: white;
  font-weight: 600;
  font-size: 20px;
}
